<h1>Human Resource Management</h1>
<hr>
<p>EasyPalace – A cloud-based Hotel management software that helps hotel industries to streamline their complex task and customer support cycles. Our hotel management software is a solution that will improve your guest management service, increase your work efficiency & employee productivity, Payroll & Account management and so on. The System will share one single database and all the data will be stored in a secure database so that all departments can see the real-time data.</p>
<hr>
<h3>SOFTWARE FEATURES:</h3>
<hr>
<ul>
	<li>Informative Cool Dashboard </li>
	<li>Customer Database Management </li>
	<li>Reservation Booking Management </li>
	<li>Customer Payment Management </li>
	<li>Employee Database Management </li>
	<br>
	<b>Bonus Features:</b>
	<li>Employee Attendance Management</li>
	<li>Employee Attendance Report</li>
	<li>Employee Department Management</li>
	<li>Employee Designation Management</li>
	<li>Employee Multiple Work Shift Management </li>
	<li>Employee Individual Work Shift Management</li>
	<li>Employee Holidays Management</li>
	<li>Employee Leave Types Management </li>
	<li>Employee Leave Application Management </li>
	<li>Employee Leave Application Approval system</li>
	<li>Employee Award Management</li>
	<li>Employee Notice Management</li>
	<li>Expense Management</li>
	<li>Multiple Access Role Control Management </li>
	<li>So on..</li>
</ul>
<br>
<h3>Demo Login Access</h3>
<hr>
<p>Login URL:  <b>https://samsujjamanbappy.me/easypalace</b>
<br>
<br>
<b>Admin Panel</b>
<br>
Email: <b>admin@email.com</b>
<br>
Password: <b>admin</b>
<br>
</p>
<br>
<h3>Server Requirements</h3>
<hr>
<ul>
	<li>PHP &gt;= 7.2.5</li>
	<li>BCMath PHP Extension</li>
	<li>Ctype PHP Extension</li>
	<li>Fileinfo PHP extension</li>
	<li>JSON PHP Extension</li>
	<li>Mbstring PHP Extension</li>
	<li>OpenSSL PHP Extension</li>
	<li>PDO PHP Extension</li>
	<li>Tokenizer PHP Extension</li>
	<li>XML PHP Extension</li>
</ul>