input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.msb-txt-left{
	text-align: left !important;
}
.msb-txt-center{
	text-align: center !important;
}
.msb-txt-right{
	text-align: right !important;
}
.msb-txt-red{
	color:red !important;
}
.msb-txt-white{
	color:white !important;
}
.msb-txt-blue{
	color:blue !important;
}
.msb-txt-green{
	color:green !important;
}
.msb-txt-black{
	color:black !important;
}
.msb-txt-darkred{
	color:darkred !important;
}
.msb-bg-red{
	background: red;
}
.msb-bg-green{
	background: green;
}
.msb-bg-blue{
	background: blue;
}
.msb-bg-table-td{
	background: #f1f1f1;
}
.msb-border-1-black{
	border: 1px solid black  !important;
}
.msb-pd-2{
	padding: 2px;
}
.msb-pd-3{
	padding: 3px;
}
.msb-pd-5{
	padding: 5px;
}
.msb-pd-top-15{
	padding: 15px;
}
.msb-txt-fw-700{
	font-weight: 700;
}
.msb-txt-fw-bold{
	font-weight: bold;
}
.msb-txt-fs-14{
	font-size: 14px !important;
}