 @page { sheet-size: A4; }
.table2{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border:1px solid black;

}
.table2 td,th{
  border:1px solid black;
}
.table2 td{
  font-size: 11px;
  padding: 2px 2px;
  border:1px solid black;
  color: #FF0a44;
}
.table2 th{
  font-size: 10px;
  padding: 3px 1px;
}
.table3{
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  text-decoration: underline;
  font-weight: bold;
  font-size: 11px;
}
.table3 td{
  text-decoration: underline;
}
.table1{
  text-align: center;
  width: 100%;
}
.caddress{
  font-size: 11px;
}

.heading-title{
  font-size: 18px; font-weight: 800; text-transform: uppercase; background: #FFE57C;
}
.heading-elements{
  font-size: 11px; text-transform: uppercase;
}