.msb-bg-late{
	background: #9c27b0;
}
.msb-bg-weekend{
	background: #00a8ff;
}
.msb-bg-leave{
	background: #273c75;
}
.daily-attendance-search-input{
	height: auto !important; 
	padding: 2px !important;
}