.fc-outline, .fc-outline:focus, .fc-outline:active, .fc-outline-dark, .fc-outline-dark:focus, .fc-outline-dark:active {
    background-color: transparent!important;
}
.login-wrapper{
    box-shadow: 0px 2px 14px 1px rgba(255,255,255,.4);
    border: 0px;
}
.bg-black-7 {
    background-color: rgba(0, 0, 0, 0.3);
}

.login-hints-credential{
	color: white;
	padding-left: 5px;
}

.login-success-message{
	background: white;
	color: green;
	border-radius: 5px;
	text-align: center;
}